# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# build/**
/build

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Cmake
CMakeLists.txt

# header file needed on windows
/source/include/SDL_include

# lib needed on windows
/lib

# other
/SUI.und
/.cache
/.vscode

